*.class

# intellij idea files
informationretrievalgroupproject.eml
informationretrievalgroupproject.userlibraries

# Package Files #
*.war
*.ear
/nbproject/private/
/build/
/index/
/bin/
.settings/
.settings/
out/
